@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border-radius: 0;
}

/* Import title font and default test font */
.logopkm {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.logopkm .logo {
  width: 300px;
}

body {
  background-color: #f3f4f6;
}

.nav {
  font-size: large;
}
.nav .navlogin ul {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 15px;
  padding: 20px;
  background-color: white;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  border-bottom: 2px solid #fddf42;
}

.logindiv {
  margin: auto;
  width: 50%;
  margin-top: 30px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}
.logindiv label {
  display: flex;
  margin-bottom: 5px;
  font-size: 1.2rem;
  font-weight: 600;
}
.logindiv input {
  display: flex;
  margin-bottom: 1rem;
  width: 100%;
}
.logindiv h2 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.logindiv span {
  color: red;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.singlepokemon {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 75%;
  margin-top: 45px;
  padding: 25px;
  gap: 30px;
  border-radius: 15px;
}
.singlepokemon h2 {
  font-weight: 500;
  text-align: center;
}
.singlepokemon .wrapper {
  display: flex;
  justify-content: space-around;
}
.singlepokemon .wrapper .current_pokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.singlepokemon .wrapper .current_pokemon h1 {
  font-weight: 700;
  font-size: 1.2em;
}
.singlepokemon .wrapper .stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.singlepokemon .wrapper .stats h2 {
  font-weight: 500;
  text-align: center;
}
.singlepokemon .description h2 {
  font-weight: 500;
  text-align: center;
}
.singlepokemon .description p {
  padding-top: 20px;
}
.singlepokemon .evolution {
  display: flex;
  justify-content: space-around;
}
.singlepokemon .evolution div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.registerdiv {
  margin: auto;
  width: 50%;
  margin-top: 30px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}
.registerdiv label {
  display: flex;
  margin-bottom: 5px;
  font-size: 1.2rem;
  font-weight: 600;
}
.registerdiv input {
  display: flex;
  margin-bottom: 1rem;
  width: 100%;
}
.registerdiv h2 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.registerdiv span {
  color: red;
}

body,
input,
textarea,
select,
button {
  font-family: "Roboto", sans-serif;
}

input[type=submit],
button,
input[type=button] {
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 15%;
  font-weight: bold;
}
input[type=submit]:hover,
button:hover,
input[type=button]:hover {
  cursor: pointer;
  scale: 1.1;
}
input[type=submit]:active,
button:active,
input[type=button]:active {
  scale: 0.9;
}
input[type=submit]:focus,
button:focus,
input[type=button]:focus {
  outline: none;
}

input[type=text],
input[type=number],
input[type=password],
input[type=email],
textarea {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 16px;
  color: #000;
  background-color: #e5e7eb;
  transition: 0.3s;
}

input[type=text],
input[type=number],
input[type=password],
input[type=email],
textarea:focus {
  outline: none;
}/*# sourceMappingURL=style.css.map */